<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Culinate</title>
		  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
	<link href="stylesheets/style.css" rel="stylesheet">
	
	</head>
	<body>
		{{{ body }}}

				<h2>Search for a recipe:</h2>
		<form>
			<div class="form-group">
				<label for="searchEntree">Search by word</label>
				<input type="text">
				<button type="submit" id="searchByWord" class="btn btn-primary">Submit</button>
			</div>
		</form>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/js/app.js"></script>
	</body>
</html>