<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v3.8.5" />
    <title>Culinate</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.2/examples/carousel/"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-md navbar-dark navbar-static-top bg-dark"
      >
        <!-- navbar-text -->
        <a class="navbar-brand" href="#">Culinate</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="homepage.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="recipes.html">Get cooking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nailedit.html">Nailed it</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="main" role="main">
      <!-- Marketing messaging and featurettes
  ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      <figure class="highlight">
        
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">
                First post:
              </h2>
              <p class="lead">
                Description of food...
              </p>
            </div>
            <div class="col-md-5">
              <svg
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid rounded mx-auto"
                width="500"
                height="500"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: 500x500"
              >
                <title>Placeholder</title>
                <rect fill="#eee" width="100%" height="100%" />
                <text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text>
              </svg>
            </div>
          </div>

          <hr class="featurette-divider" />

          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">
                Second post:
              </h2>
              <p class="lead">
                Description...
              </p>
            </div>
            <div class="col-md-5 order-md-1">
              <svg
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid rounded mx-auto"
                width="500"
                height="500"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: 500x500"
              >
                <title>Placeholder</title>
                <rect fill="#eee" width="100%" height="100%" />
                <text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text>
              </svg>
            </div>
          </div>

          <hr class="featurette-divider" />

          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">
                Third post: 
              </h2>
              <p class="lead">
                Description...
              </p>
            </div>
            <div class="col-md-5">
              <svg
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid rounded mx-auto"
                width="500"
                height="500"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: 500x500"
              >
                <title>Placeholder</title>
                <rect fill="#eee" width="100%" height="100%" />
                <text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text>
              </svg>
            </div>
          </div>
        </div>
      </figure>
      <!-- /.container -->

      <!-- FOOTER -->
      <footer class="container"></footer>
    </main>
    <script src="JS/app.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
