	<div class="jumbotron">
		<div class="searchForm">
            <h1 class="nav-brand">Welcome to Culinate!</h1>
		<p class="lead">This is a simple website to look up delicious recipes to cook.</p>
		<hr class="my-4">
		<p>Click on the button before to search for the perfect meal to make for yourself or you and a friend! If you
			love it, save it for another time!</p>
			<h2 class="searchText">Search for a recipe:</h2>
			<form action="/" method="POST">
				<div class="form-group">
					<label class="searchText" for="searchEntree">Search by word</label>
					<input id="searchedWord" type="text" name="recipeSearched">
					<button type="submit" id="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>

			<div class="">
				<div id="recipeCards">
					<h2>Recipes Found:</h2>
					<p class="attachPlease"></p>
                    {{recipes}}
				</div>
			</div>
		</div>
	</div>