.bd-placeholder-img {
  background-image: url(./cooking-pots.png);
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  background-image: url(./cookBackground.jpg);
}

.marketing {
  margin-top: 100px;
}

.navbar {
  opacity: 0.8;
  height: 100px;
}

.navbar-brand {
  font-family: "Josefin Slab", serif;
  font-size: 50px;
}

.nav-link {
  font-family: "Josefin Slab", serif;
  font-size: 30px;
}

img {
  border-radius: 55%;
}

.highlight {
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-right: 50px;
  padding: 15px;
  background-color: #f9faf870;
}
