@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

<<<<<<< HEAD
body {
  background-image: url("../images/cookingBackground.jpg");
=======
/* html {
  background-image: url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/157787/157787_00_2x.jpg");
} */

.marketing {
  margin-top: 100px;
>>>>>>> e5af16636ff3c0eb3eab07a372ed56e16b81c9e5
}

.navbar {
  opacity: 0.8;
  height: 100px;
}

.navbar-brand {
  font-family: "Josefin Slab", serif;
  font-size: 50px;
}

.nav-link {
  font-family: "Josefin Slab", serif;
  font-size: 30px;
}

a:hover {
  color: white;
  opacity: 1;
  font-size: 32px;
}

.active {
  text-decoration: none;
  color: white;
  opacity: 1;
}

.jumbotron {
  background-color: rgb(220, 245, 228, 0.5);
  margin-bottom: 200px;
}

.highlight {
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-right: 50px;
  padding: 15px;
  background-color: #f9faf870;
}

.searchForm {
  text-align: center;
}

.searchText {
  color: rgb(55, 38, 12);
}

#submit {
  background-color: rgb(55, 38, 12);
  color: white;
}

.card {
  background-color: rgb(197, 233, 255);
  padding: 5px;
  height: fit-content;
  width: fit-content;
}
<<<<<<< HEAD
=======

.entreeImage {
    width: 500px;
}
>>>>>>> e5af16636ff3c0eb3eab07a372ed56e16b81c9e5
